@font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: 400;
    src: url('#{$fa-font-path}/fa-brands-400.eot');
    src: url('#{$fa-font-path}/fa-brands-400.eot?#iefix') format('embedded-opentype'),
    url('#{$fa-font-path}/fa-brands-400.woff2') format('woff2'),
    url('#{$fa-font-path}/fa-brands-400.woff') format('woff'),
    url('#{$fa-font-path}/fa-brands-400.ttf') format('truetype'),
    url('#{$fa-font-path}/fa-brands-400.svg#fontawesome') format('svg');
}

@font-face {
    font-family: 'Font Awesome 5 Regular';
    font-style: normal;
    font-weight: 400;
    src: url('#{$fa-font-path}/fa-regular-400.eot');
    src: url('#{$fa-font-path}/fa-regular-400.eot?#iefix') format('embedded-opentype'),
    url('#{$fa-font-path}/fa-regular-400.woff2') format('woff2'),
    url('#{$fa-font-path}/fa-regular-400.woff') format('woff'),
    url('#{$fa-font-path}/fa-regular-400.ttf') format('truetype'),
    url('#{$fa-font-path}/fa-regular-400.svg#fontawesome') format('svg');
}

@font-face {
    font-family: 'Font Awesome 5 Solid';
    font-style: normal;
    font-weight: 900;
    src: url('#{$fa-font-path}/fa-solid-900.eot');
    src: url('#{$fa-font-path}/fa-solid-900.eot?#iefix') format('embedded-opentype'),
    url('#{$fa-font-path}/fa-solid-900.woff2') format('woff2'),
    url('#{$fa-font-path}/fa-solid-900.woff') format('woff'),
    url('#{$fa-font-path}/fa-solid-900.ttf') format('truetype'),
    url('#{$fa-font-path}/fa-solid-900.svg#fontawesome') format('svg');
}

@font-face {
    font-family: 'Urbanist Thin';
    font-style: normal;
    src: url('#{$urb-font-path}/Urbanist-Thin.ttf');
}

@font-face {
    font-family: 'Urbanist ExtraLight';
    font-style: normal;
    src: url('#{$urb-font-path}/Urbanist-ExtraLight.ttf');
}

@font-face {
    font-family: 'Urbanist Light';
    font-style: normal;
    src: url('#{$urb-font-path}/Urbanist-Light.ttf');
}

@font-face {
    font-family: 'Urbanist Regular';
    font-style: normal;
    src: url('#{$urb-font-path}/Urbanist-Regular.ttf');
}

@font-face {
    font-family: 'Urbanist Medium';
    font-style: normal;
    src: url('#{$urb-font-path}/Urbanist-Medium.ttf');
}

@font-face {
    font-family: 'Urbanist SemiBold';
    font-style: normal;
    src: url('#{$urb-font-path}/Urbanist-SemiBold.ttf');
}

@font-face {
    font-family: 'Urbanist Bold';
    font-style: normal;
    src: url('#{$urb-font-path}/Urbanist-Bold.ttf');
}

@font-face {
    font-family: 'Urbanist ExtraBold';
    font-style: normal;
    src: url('#{$urb-font-path}/Urbanist-ExtraBold.ttf');
}

@font-face {
    font-family: 'Urbanist Black';
    font-style: normal;
    src: url('#{$urb-font-path}/Urbanist-Black.ttf');
}