html,
body,
ul,
li,
ol {
    margin: 0;
    padding: 0;
}

html {
    font-size: 0.625em;
    font-size: calc(1em * 0.625);
}

body {
    @include urb-font-style;
    padding: 5rem;
}

a {
    text-decoration: none;
    color: $tertiary-color;
    font-style: normal;
}

h1 {
    font-size: 6rem;
}
h2 {
    font-size: 3rem;
    font-family: $urb-font-family-light;
}
h3 {
    margin-top: 0;
    font-size: 2.5rem;
}
h4 {
    text-transform: uppercase;
}
h5 {
    margin: 0 0 1rem 0;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.fab {
    @include fab-font-style;
}

.far {
    @include far-font-style;
}

.fas {
    @include fas-font-style;
}

.secondary-color {
    color: $secondary-color;
}
.tertiary-color {
    color: $tertiary-color;
}

figure {
    figcaption {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
        opacity: 0;
        text-align: center;
        color: $fourth-color;
        background-color: $primary-color;
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 1.4rem;

        &::before {
            content: "";
            position: absolute;
            top: 100%;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $primary-color;
            z-index: 2;
            height: 0;
            width: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &:hover {
        figcaption {
            opacity: 1;
        }
    }
}

[class^="block-"] {
    h3 {
        position: relative;
        padding-left: 3rem;
        &::before {
            content: " ";
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            background-color: $primary-color;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        &::after {
            @include fas-font-style;
            content: " ";
            display: flex;
            justify-content: center;
            align-items: center;
            color: $fourth-color;
            width: 2.5rem;
            height: 2.5rem;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
}

.block-profile h3::after {
    content: "\f007";
}

.block-hobbies h3::after {
    content: "\f004";
}

.block-experiences h3::after {
    content: "\f0b1";
}

.block-training h3::after {
    content: "\f19d";
}

.block-skills h3::after {
    content: "\f7d9";
}

.block-languages h3::after {
    content: "\";
}

.block-activities h3::after {
    content: "\";
}

.block-two-columns,
.block-three-columns {
    display: grid;
}

[class^="icons-"] {
    a {
        color: transparent;
        position: relative;
        margin: 0.2rem;

        &::before {
            content: " ";
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }

    .link-mail::before {
        @include fas-font-style;
        content: "\f199";
        color: $secondary-color;
        font-size: $fa-font-size-m;
    }

    .link-linkedin::before {
        @include fab-font-style;
        content: "\f08c";
        color: $secondary-color;
        font-size: $fa-font-size-m;
    }

    .link-gitlab::before {
        @include fab-font-style;
        content: "\f296";
        color: $secondary-color;
        font-size: $fa-font-size-m;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;
        line-height: 4rem;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 2rem;
    }

    figcaption {
        display: none;
    }
}

.fa-youtube {
    color: red;
}

.fa-youtube,
.fa-file-image,
.fa-file-pdf {
    font-size: 2rem;
}
