@mixin primary-font-style {
    font-size: $defaut-font-size;
    font-family: $primary-font-family;
    color: $primary-color;
    font-weight: 300;
}

@mixin fa-font-style {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    color: currentColor;
    font-size: $fa-font-size-s;
}

@mixin fab-font-style {
    font-family: $fab-font-family;
    @include fa-font-style;
}

@mixin far-font-style {
    font-family: $far-font-family;
    @include fa-font-style;
}

@mixin fas-font-style {
    font-family: $fas-font-family;
    @include fa-font-style;
}

@mixin urb-font-style {
    font-family: $urb-font-family-regular;
    font-size: $defaut-font-size;
}
