$primary-color: #231f20;
$secondary-color: #5d6b71;
$tertiary-color: #1f96ab;
$fourth-color: #ffffff;


$fa-font-path: "../src/fonts/fontawesome";
$fab-font-family: "Font Awesome 5 Brands";
$far-font-family: "Font Awesome 5 Regular";
$fas-font-family: "Font Awesome 5 Solid";

$urb-font-path: "../src/fonts/urbanist";
$urb-font-family-light: "Urbanist Light", Helvetica, sans-serif;
$urb-font-family-regular: "Urbanist Regular", Helvetica, sans-serif;


$defaut-font-size: 1.6rem;
$fa-font-size-s: 1.6rem;
$fa-font-size-m: 2.5rem;
