#view-index {
    h1 {
        order: 2;
        margin: 0;
    }

    h2 {
        order: 1;
        margin: 0 0 -1.5rem 0;
    }

    header {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 4rem;

        figure {
            position: relative;
            display: inline-block;
            margin: 2rem;
            max-width: 200px;
            max-height: 200px;

            img {
                transform: rotate(-5deg);
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
                width: 100%;
                height: 100%;
            }
        }

        .header-text {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;

            .icons-social {
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 0.5rem;

                li {
                    display: inline-block;

                    a {
                        display: block;
                        width: 20px;
                        height: 20px;

                        &:hover,
                        &:active,
                        &:focus {
                            &::before {
                                color: $tertiary-color;
                            }
                        }
                    }
                }
            }

            address {
                order: 3;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                margin: 2rem 0 0.2rem 0;

                a {
                    color: $secondary-color;
                    margin: 0 0.5rem 0 0.5rem;

                    &.link-map {
                        display: inline-block;
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            ul {
                order: 4;
            }
        }
    }

    main {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;

        aside {
            border-right: 2px dashed $secondary-color;
            padding-right: 2rem;
            margin-right: 2rem;

            ul {
                list-style: none;
            }

            [class^="block-"] {
                padding: 2rem 0;
            }

            .block-hobbies {
                li {
                    display: inline;
                    &::after {
                        content: ",";
                    }
                }
            }
        }

        article {
            & > div {
                margin-bottom: 4rem;
            }

            .block-two-columns {
                grid-template-columns: 1fr 4fr;
            }
        }
    }

    .block-experience {
        margin: 2rem 0 4rem 0;

        .block-two-columns {
            grid-template-columns: 1fr 3fr;

            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }

        ul{
            list-style: none;
            margin: 2rem 0;
        }
    }

    .block-training {
        .block-three-columns {
            display: grid;
            grid-template-columns: 1fr 1fr 2fr;
        }
    }

    .block-activities {
        .block-two-columns {
            margin-bottom: 2rem;
        }
    }

    .block-technologies {
        display: inline;

        &::before {
            content: "Environnement technologique :";
            display: block;
            margin-top: 1rem;
        }
    }

    .block-date {
        font-size: 1.6rem;
    }

    @media only screen and (max-width: 992px) {
        header figure {
            max-width: 150px;
            max-height: 150px;
            margin: 2rem 2rem 4rem 2rem;
        }

        main {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;

            article {
                grid-row: 1;
                border-top: 2px dashed #5d6b71;
                margin-top: 2rem;
                padding-top: 5rem;
            }

            aside {
                grid-row: 2;
                border-top: 2px dashed #5d6b71;
                border-right: none;
                padding-right: 0;
                margin-right: 0;
                padding-top: 2rem;
                margin-top: 2rem;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        h1 {
            order: 1;
        }

        h2 {
            order: 2;
            margin-bottom: 1rem;
        }
    }
}
